a(href='https://gitlab.com/oauth/authorize?client_id=fe638f1d649943378c0e76a7db3a2bd7ee818abc8db4fca58e81fd26b78ea0d7&redirect_uri=http://tivly.lobolabshq.com/oauth-gitlab&response_type=code&state=success') Authenticate with Gitlab

